
<a href="/">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-4">
        <h1>Event Title: {{event.title}}</h1>
        <h3>Charity: {{event.charity}}</h3>
        <p>Date: {{event.date}}</p>
        <p>Notes: {{event.notes}}</p>

        <!-- EDIT BUTTON -->
        <p><a href="/events/{{event._id}}/edit">Edit</a></p>
        <!-- DELETE BUTTON -->
        <p><form method="POST" action="/events/{{event._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form></p>

    </div>
</div>
