<button type="submit" name="home-button">
    <a href="/" style="font-size:30px">Home</a>
</button>

<div class="row">
    <div class="col-sm-6 col-sm-offset-4">
        <h1>Event Title: {{event.title}}</h1>
        <h3>Charity: {{event.charity}}</h3>
        <p>Date: {{event.date}}</p>
        <p>Notes: {{event.notes}}</p>

        <!-- EDIT BUTTON -->
        <p><a href="/events/{{event._id}}/edit">Edit</a></p>
        <!-- DELETE BUTTON -->
        <p><form method="POST" action="/events/{{event._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form></p>

        <hr>

        <fieldset>
            <form method="POST" action="/events/:id/donations">
                <input type="hidden" class="form-control" value="{{event._id}}" name="eventId">
                <!-- charity name -->
                <div>
                    <label for="charity">Charity Name</label><br>
                    <input id="event-charity" class="form-control" type="hidden" name="charity" value="{{event.charity}}"/>
                    <p>{{event.charity}}</p>
                </div>
                <!-- use donations form partial for DRY code -->
                {{> donations-form}}
            </form>
        </fieldset>

        <hr>

        <h3>Donations at this Event</h3>
        <div id="donations">
            {{#each donations}}
                {{> donation}}
            {{/each}}
        </div>
    </div>
</div>
