
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <h3>Events</h3>
            </tr>
            <tr>
                <th class="col-sm-4" scope="col">Date</th>
                <th class="col-sm-4" scope="col">Event Title</th>
                <th class="col-sm-4" scope="col">Charity</th>
            </tr>
        </thead>

        <tbody>
            {{#each events}}
            <tr id="" data-event-id="">
                <td>{{this.date}}</td>
                <th scope="row"><a href="/events/{{this._id}}">{{this.title}}</a></th>
                <td>{{this.charity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav class="d-flex justify-content-center"aria-label="Page navigation">
        <ul class="pagination">
            {{#is currentPage 1}}
                <li class="page-item" style="display: none;"></li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{subtract currentPage 1}}">Previous</a>
                </li>
            {{/is}}

            {{#times pagesCount}}
                <li class="page-item">
                    <a class="page-link" href="/?page={{this}}">{{this}}</a>
                </li>
            {{/times}}

            {{#is currentPage numPages}}
                <li class="page-item" style="display: none;"></li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{sum currentPage 1}}">Next</a>
                </li>
            {{/is}}
        </ul>
    </nav>
</div>

<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <h3>Donations</h3>
            </tr>
            <tr>
                <th class="col-sm-4" scope="col">Date</th>
                <th class="col-sm-4" scope="col">Charity</th>
                <th class="col-sm-4" scope="col">Amount Donated</th>
            </tr>
        </thead>

        <tbody>
            {{#each donations}}
            <tr id="" data-event-id="">
                <th scope="row">{{this.date}}</th>
                <td><a href="/donations/{{this._id}}">{{this.charity}}</a></td>
                <td>${{this.amount}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
